appnope
asttokens
comm
contourpy
cycler
debugpy
decorator
executing
filelock
fonttools
fsspec
imbalanced-learn
ipykernel
ipython
jedi
Jinja2
joblib
jupyter_client
jupyter_core
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mpmath
nest-asyncio
networkx
numpy
packaging
pandas
parso
pexpect
pillow
platformdirs
prompt-toolkit
psutil
ptyprocess
pure-eval
Pygments
pyparsing
python-dateutil
pytz
pyzmq
scikit-learn
scipy
six
stack-data
sympy
threadpoolctl
torch
torchinfo
tornado
traitlets
typing_extensions
tzdata
wcwidth
